body {
	
}

#data-form {
	text-align: center;
}

#geo_status {
	background-color: yellow;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: inline-block;
}

#location {
	height: 1em;
}

.center-block {
	margin: 5px auto 5px auto;
}

.center-text {
	text-align: center;
}

.form-field {
	display: inline-block;
}

#tag {
}
